body { 
    margin: o;
    font-family: Times, 'Times New Roman', 'Times New Roman';
    background-color: #637577;
}

#menuItems {
    width: 220px;
    background-color: #743a6d;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 20%;
}

#menuItems button {
    background-color: #1e9c89;
    color: white;
    border: none;
    padding: 20px;
    font-size: 18px;
    text-align: left;
    cursor: pointer;
    border-bottom: 2px solid #2ea783;
}

#menuItems button:hover {
    background-color: #e85626;
}

#jumpMenu {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

#recentArticles:hover + #jumpMenu {
    display: block;
}

#recentArticles:hover + #jumpMenu,
#jumpMenu:hover {
    display: block;
}

#jumpMenu li a {
    display: block;
    background-color: #d07aaf;
    color: white;
    padding: 12px 15px;
    text-decoration: none;
    border-bottom: 1px solid #de757f;
}

#jumpMenu li a:hover {
    background-color: #0000cc;
}

header {
    position: fixed; 
    top: 0;
    left: 20%;
    width: 80%;
    background-color: #4a2a2e;
    color: white;
    padding: 2px 0;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    
}


header {
    position: fixed; 
    top: 0;
    left: 20%;
    width: 80%;
    background-color: #4a2a2e;
    color: white;
    padding: 2px 0;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    
}

header p {
    font-size: 40px;
    margin: 10px 0;
}
 
header nav button {
    font-size: 20px;
}

main {
     margin-left: 20%;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    gap : 20px;
}

article > p:first-of-type::first-letter {
    font-family: "Times New Roman", Times, serif;
    font-size: 36px;
}

article {
      width: 300px;
    color: #aaa;
    max-height: 300px;
    overflow: hidden;
    transition: color 2s ease, max-height 2s ease;
}

article:hover {
    color: #333;
    max-height: 1000px;
}

article > p > a[href*="google"] {
    display: inline-block;
    padding-right: 20px;
    background: url("file:///Users/miahalabi/Downloads/arrowarrow.png") no-repeat right center;
    background-size: 14px 14px;
}

 h1 {
    font-size: 30px;
    text-align: center;
    
}
article h2 {
    font-size: 24px;
}

nav button {
    padding: 10px 15px;
    border: none;
    background-color: #eee;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

nav button:hover {
    background-color: #ccc;
}

#thanks {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #bc94b1;
    border: 2px solid #000000;
    padding: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

